<div>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Serach User</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="userSearchFormControl"
          [matAutocomplete]="auto" #trigger="matAutocompleteTrigger" position="below">
        <mat-autocomplete [autoActiveFirstOption]="true" autoActiveFirstOption #auto="matAutocomplete"
          [displayWith]="displayFn">
          <mat-option *ngFor="let user of filterdUsers$ | async" [value]="user">
            {{user.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>