:host {
    padding: 10px;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        padding: 15px;
        div {
            flex: 1;
        }
    }
}

@media screen and (max-width: 760px) {
    :host {
        .content {
            display: flex;
            flex-direction: column;
            padding: 15px;
            div {
                flex: 1;
            }
        }
    }
}
